vosk==0.3.45
vosk-tts==0.3.60
pyttsx3==2.99
sounddevice==0.5.2
soundfile==0.13.1
pyautogui==0.9.54
requests==2.32.4
numpy==2.2.6
audioplayer==0.6
python-dateutil==2.9.0.post0
starlette==0.47.2
uvicorn==0.35.0
fastapi==0.116.1
opencv-python==4.11.0.86
PyGObject<=3.50.0